{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/jumbotron.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
{% endblock %}

{% block body %}

    <div style="margin-top: 10px">

    <ul>
        <li><a href="{{ path('app_noticeme_insert') }}">Crear nuevo tema</a>   </li>
    </ul>

    <table  border=”0″ cellpadding=”0″ cellspacing=”0″>

        {% for tema in temas %}
            <h1 >{{ tema.nombreTema }}</h1>
            <h5>{{ tema.createdAt|date("d/m/Y H:i:s") }}, {{ tema.updatedAt|date("d/m/Y H:i:s") }}</h5>
            <h3 >{{ tema.textoTema }}</h3>
            <h4><a href="{{ path('app_noticeme_update', {'id': tema.id}) }}">Editar</a> <a href="{{ path('app_noticeme_remove', {'id': tema.id}) }}">Borrar</a></h4>


        {% endfor %}
    </table>


{% endblock %}